/* колір фону шапки #FFFFFF */
/* колір фону героя та футера #2F303A */
/* колір фону секцій особливості та робіт #F5F5F5 */
/* колір фону секціі з командою #F5F4FA */
/* колір тексту основний #757575 */
/* колір тексту другорядний #212121 */
/* колір акценту #2196F3 */

:root {
  --main-white-color: #ffffff;
  --second-section-color: #2f303a;
  --third-section-color: #f5f5f5;
  --team-section-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

/* значення властивостей для боді */

body {
  color: var(--main-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Хедер */

.logo.word {
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: #000000;
}

.logo {
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: #2f303a;
}

.hero > .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero > .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Особливості */

.features .features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.features .feature-list {
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємось */

.work > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

/* Наша команда */
.team {
  background-color: var(--team-section-color);
}

.team > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

.team > .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-text-color);
}

.team > .team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Футер */

.footer-nav {
  background-color: var(--second-section-color);
}

.footer-logo {
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: #ffffff;
}

.address-list .address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: #ffffff;
}

.address-list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-list .address-link:hover,
.address-list .address-link:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

/* стилі для портфоліо */

.site-nav-btn .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--secondary-text-color);
}

.site-nav-btn .btn:hover,
.site-nav-btn .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.portfolio .portfolio-name {
  font-size: 16px;
  line-height: 1.88;
}
